<%= simple_form_for(@workorder) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :wo_number %>
    <%= f.input :start_date %>
    <%= f.input :comp_date %>
    <%= f.input :est_completion %>
    <%= f.input :requestor %>
    <%= f.input :location %>
    <%= f.input :repair_facility %>
    <%= f.input :repair_type %>
    <%= f.input :summary %>
    <%= f.input :percent_complete %>
    <%= f.association :item %>
    <%= f.input :priority %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
